.App{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: 500px;
}

.todo-create{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.todo-create-input-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.todo-list-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    width: 100%;
}

.todo-create-input{
    width: 300px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 16px;
    outline: none;
    margin-right: 10px;
}

.todo-create-button{
    width: 100px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 16px;
    outline: none;
    background-color: #007bff;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover{
        background-color: #0056b3;
    }
}

.todo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
}